<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Curso VueJS</title>
    <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png"/>
    <link rel="manifest" href="ico/site.webmanifest"/>
    <link rel="mask-icon" href="ico/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="shortcut icon" href="ico/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-config" content="ico/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="plugin/menu/font-awesome/css/fontawesome-all.css"/>
    <link rel="stylesheet" href="plugin/menu/menu.css"/>
    <link rel="stylesheet" href="css/reveal.css"/>
    <link rel="stylesheet" href="css/theme/black.css"/>
    <link rel="stylesheet" href="lib/css/zenburn.css"/>
    <script>
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);
      
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-menu-title="Presentación" data-background-video="video/vuejs-video.mp4" data-background-video-loop="true">
          <h1>VueJS</h1>
          <h3>Framework JS</h3>
        </section>
        <section data-menu-title="Profesor">
          <h1>Jonathan Duran</h1>
          <h3>Desarrollador Full Stack</h3>
          <p><i class="far fa-envelope"> HeadJD@gmail.com</i></p>
          <p><i class="fab fa-github"></i><a href="https://github.com/jonathanjd" target="_blank"> JonathanJD</a></p>
        </section>
        <section>
          <section>
            <h1>RoadMap</h1>
          </section>
          <section>
            <h3>Fundamentos</h3>
            <p>Instalación, Instancia, Propiedades, Mostrar Datos, Directivas, Propiedades Computadas, Métodos, Manejos de Estilos/Clases, Bloque Condicional, Listas, Eventos, Formularios.</p>
          </section>
          <section>
            <h3>Componentes</h3>
            <p>Introducción, Crear Componentes, Herramienta de Desarrollo de Vue, Componentes para Proyecto, Componente Hijos, Scoped, Pasando Datos entre Componentes, Validar Datos, Eventos, Comunicación mediante el Evento Bus, Pasando Datos entre Eventos, Slots, Componentes Dinámicos, Keeping, Ciclo de Vida.</p>
          </section>
          <section>
            <h3>Vue Router</h3>
            <p>Instalación, Registrar Rutas, Mostrando Rutas, Rutas Dinámicas, Rutas Anidadas, Rutas Nombradas, Redirecciones y Alias, Pasando Props, Historial HTML5</p>
          </section>
          <section>
            <h3>Axios</h3>
            <ul>
              <li>¿Que és?</li>
              <li>Instalación</li>
              <li>Peticiones Ajax</li>
            </ul>
          </section>
          <section>
            <h3>Mini Proyecto</h3>
            <p>VueCine(Api OMDB)</p>
          </section>
        </section>
        <section>
          <h3><a href="https://vuejs.org/" target="_blank">¿Qué es VueJS?</a></h3>
          <p>Es un framework progresivo de javascript para construir interfaces web interactivas.</p>
        </section>
        <section>
          <h3>Creador de Vue</h3>
          <h5>Evan You</h5><img src="/img/evan-you.jpg" alt="Evan You" wight="200" height="200"/>
        </section>
        <section>
          <h3>Historia</h3>
          <p>Evan You que trabajaba en Google realizando prototipos y en el core del Framework de Meteor, hasta que pensó en otra forma de hacer una opción más fácil que abarcara las necesidades a la hora de hacer prototipos. Así surgió Vue en el 2014, desde entonces ha tenido una gran evolución y sigue creciendo en su versión 2.</p>
        </section>
        <section>
          <h3>Características</h3>
          <ul>
            <li>Fácil de Aprender</li>
            <li>Sistema de Data Binding</li>
            <li>Sistema de Componentes</li>
            <li>Reactivo</li>
            <li>Optimizado: su core ocupa 74KB(Bastante Liviano)</li>
            <li>Excelente Librería para hacer peticiones http, validación de formulario, etc.</li>
            <li>Escalable</li>
            <li>Licencia MIT</li>
          </ul>
        </section>
        <section>
          <section>
            <h1>Fundamentos</h1>
          </section>
          <section>
            <h3>Instalación #1</h3>
            <p>Vía CDN</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;title&gt;Curso VueJS&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;!-- Vue CDN --&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
          </section>
          <section>
            <h3>Instalación #2</h3>
            <p><a href="https://vuejs.org/v2/guide/installation.html" target="_blank">Download</a></p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;title&gt;Curso VueJS&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- VueJS --&gt;
    &lt;script src="js/vue.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
          </section>
          <section>
            <h3>Patrón MVVM</h3>
            <p>Consiste en pasar datos desde el código javascript "MODELO" al código html "VISTA", de una manera sencilla, sin tener que tratar directamente con las etiquetas html desde javascript.</p>
          </section>
          <section>
            <h3>Instancia de Vue</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">new Vue();</code></pre>
          </section>
          <section>
            <h3>Propiedades de Vue</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',

    data: {

        ciudad: 'Barcelona',
        pais: 'Venezuela',

    },

    computed: {
        dondeEstoy: function () {
            return 'Estoy en ' + this.ciudad + ' ' + this.pais;
        }
    },

    methods: {
        mensajeCiudad: function () {
            console.log('Soy la Ciudad de ' + this.ciudad);
        }
    },

    mounted: function () {
        this.mensajeCiudad();
    }
});</code></pre>
          </section>
          <section>
            <h3>Propiedad el</h3>
            <ul>
              <li>Esta Propiedad determina el 
                <u>TAG HTML</u> que operará nuestra instancia Vue.
              </li>
              <li>Cada Instancia de Vue apunta a un solo nodo html y sus hijos.</li>
              <li>Podemos utilizar como selector una clase/id/etiqueta.</li>
            </ul>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    //Propiedad el
    el: '#app' //Selector por ID
});</code></pre>
          </section>
          <section>
            <h3>Propiedad data</h3>
            <p>Es un objeto con propiedades que podemos utilizar en nuestra instancia.</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    //Propiedad Data
    data: {
        ciudad: 'Barcelona',
        pais: 'Venezuela',
    },
});</code></pre>
          </section>
          <section>
            <h3>Mostrar Datos</h3>
            <p>
              <u>INTERPOLACIÓN:</u> Permite enlazar datos entre VueJS y el DOM. Utilizar las dobles llaves.
            </p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;body&gt;
    &lt;div id="app"&gt;
        &lt;p&gt;Ciudad: {{ ciudad }}&lt;/p&gt;
        &lt;p&gt;País: {{ pais }}&lt;/p&gt;
    &lt;/div&gt;
    &lt;!-- VueJS --&gt;
    &lt;script src="js/vue.js"&gt;&lt;/script&gt;
    &lt;!-- Main --&gt;
    &lt;script src="js/main.js"&gt;&lt;/script&gt;
&lt;/body&gt;</code></pre>
          </section>
          <section data-menu-title="Hola Mundo" data-background-video="video/hola-mundo.mp4" data-background-video-loop="true">
            <h3>Hola Mundo</h3>
          </section>
          <section>
            <h1>Directivas</h1>
          </section>
          <section>
            <h3>V-TEXT</h3>
            <p>Muestra contenido textual dentro de un elemento.</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1 v-text="mensaje"&gt;&lt;/h1&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h3>V-HTML</h3>
            <p>Muestra contenido textual dentro de un elemento(Acepta Código HTML).</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        titulo: '&lt;p&gt;Curso de VueJS&lt;/p&gt;'
    }
});</code></pre>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1 v-html="titulo"&gt;&lt;/h1&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h3>V-SHOW</h3>
            <p>Permite Mostrar u Ocultar contenido de DOM.</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        mostrarTitulo: true,
        mostrarSubtitulo: false
    }
});</code></pre>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1 v-show="mostrarTitulo"&gt;Curso de VueJS&lt;/h1&gt;
    &lt;h3 v-show="mostrarSubtitulo"&gt;Framework de JavaScript&lt;/h3&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h3>V-IF</h3>
            <p>Bloque Condicional</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1 v-if="mostrarTitulo"&gt;Curso de VueJS&lt;/h1&gt;
    &lt;h3 v-if="mostrarSubtitulo"&gt;Framework de JavaScript&lt;/h3&gt;
    &lt;h3 v-else&gt;No Tengo SubTítulo&lt;/h3&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="V-FOR #1">
            <h3>V-FOR</h3>
            <p>Listas</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        cursos: ['Vuejs', 'Laravel', 'GitHub', 'Front-End'],
        alumnos: [
            { nombre: 'Maria', edad: 25 },
            { nombre: 'Pedro', edad: 30 },
            { nombre: 'Jose', edad: 18 }
        ]
    }
});</code></pre>
          </section>
          <section data-menu-title="V-FOR #2">
            <h3>V-FOR</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;ul&gt;
        &lt;li v-for="curso in cursos"&gt;{{ curso }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;hr&gt;
    &lt;ul&gt;
        &lt;li v-for="alumno in alumnos"&gt;{{ alumno.nombre }} - Edad: {{ alumno.edad }}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="V-FOR + Index">
            <h3>V-FOR + Index</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;ul&gt;
        &lt;li v-for="curso in cursos"&gt;{{ curso }}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;hr&gt;
    &lt;ul&gt;
        &lt;li v-for="alumno in alumnos"&gt;{{ alumno.nombre }} - Edad: {{ alumno.edad }}&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="V-FOR PropertyName">
            <h3>V-FOR + PropertyName</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        profesor: {
            nombre: 'Jonathan Duran',
            edad: 31,
            carrera: 'Desarrollo Web'
        }
    }
});</code></pre>
          </section>
          <section>
            <h3>V-BIND</h3>
            <p>Permite vincular un Atributo HTML a un valor que tenemos en nuestro Modelo.</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        btnDisabled: true
    }
});</code></pre>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;!-- v-bind:nombreAtributo --&gt;
    &lt;button v-bind:disabled="btnDisabled"&gt;Enviar Datos&lt;/button&gt;
    &lt;!-- El Atajo : --&gt;
    &lt;button :disabled="btnDisabled"&gt;Cancelar Datos&lt;/button&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h3>Métodos</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        msj: 'Buenos Días'
    },
    methods: {
        mensajeAlert: function() {
            alert(this.msj);
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="V-ON #1">
            <h3>V-ON</h3>
            <p>Manejar Evento</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;button v-on:click="mensajeAlert"&gt;Programate&lt;/button&gt;
    &lt;button @click="mensajeAlert"&gt;Programate @&lt;/button&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="V-ON #2">
            <h3>V-ON</h3>
            <p>Manejar Evento</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        msj: 'Buenos Días'
    },
    methods: {
        mensajeAlert: function(mensaje, event) {
            console.log(event);
            alert(mensaje);
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="V-ON #3">
            <h3>V-ON</h3>
            <p>Manejar Evento</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;button @click="mensajeAlert('Hola Programate', $event)"&gt;Programate @&lt;/button&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="V-MODEL #1">
            <h3>V-MODEL</h3>
            <p>Permite enlazar datos a través de la propiedad data.</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        title: '',
        body: ''
    },
});</code></pre>
          </section>
          <section data-menu-title="V-MODEL #2">
            <h3>V-MODEL</h3>
            <p>v-model</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1&gt;Post&lt;/h1&gt;
    &lt;h3&gt;Title: {{ title }}&lt;/h3&gt;
    &lt;p&gt;Body: {{ body }}&lt;/p&gt;
    &lt;hr&gt;
    &lt;input type="text" v-model="title"&gt;
    &lt;br&gt;
    &lt;br&gt;
    &lt;textarea cols="21" rows="10" v-model="body"&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h3>V-ONCE</h3>
            <p>Evita la reactividad en un elemento, lo convierte estático.</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1&gt;Post&lt;/h1&gt;
    &lt;h3 v-once&gt;Title: {{ title }}&lt;/h3&gt;
    &lt;p&gt;Body: {{ body }}&lt;/p&gt;
    &lt;hr&gt;
    &lt;input type="text" v-model="title"&gt;
    &lt;br&gt;
    &lt;br&gt;
    &lt;textarea cols="21" rows="10" v-model="body"&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="Computed #1">
            <h3>Propiedades Calculadas</h3>
            <p>Computed</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        nombre: 'Carmen',
        apellido: 'Perez'
    },
    computed: {
        nombreCompleto: function () {
            return this.nombre + ' ' + this.apellido;
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="Computed #2">
            <h3>Propiedades Calculadas</h3>
            <p>Computed</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1&gt;Usuario&lt;/h1&gt;
    {{ nombreCompleto }}
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="Filtros #1">
            <h3>Filtros</h3>
            <p><a href="https://www.npmjs.com/package/vue-filter" target="_blank">Documentación</a></p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        pelicula: 'La Casa Vieja',
        entrada: 500,
    },
    filters: {
        toUSD: function (precio) {
            return '$' + precio;
        }
    },
});</code></pre>
          </section>
          <section data-menu-title="Filtros #2">
            <h3>Filtros</h3>
            <p><a href="https://www.npmjs.com/package/vue-filter" target="_blank">Documentación</a></p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;h1&gt;{{ pelicula | uppercase }}&lt;/h1&gt;
    &lt;h3&gt;Precio {{ entrada | toUSD }}&lt;/h3&gt;
&lt;/div&gt;
&lt;!-- VueJS --&gt;
&lt;script src="js/vue.js"&gt;&lt;/script&gt;
&lt;!-- Vue Filter --&gt;
&lt;script src="js/vue-filter.js"&gt;&lt;/script&gt;
&lt;!-- Main --&gt;
&lt;script src="js/main.js"&gt;&lt;/script&gt;</code></pre>
          </section>
          <section data-menu-title="Estilos #1">
            <h3>Estilos</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        color: 'blue'
    },
    methods: {
        cambiarColor() {
            if (this.color == 'blue') {
                this.color = 'yellow';
            } else {
                this.color = 'blue';
            }
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="Estilos #2">
            <h3>Estilos</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;div style="width: 200px; height: 200px;" v-bind:style="{ 'background-color': color}"&gt;&lt;/div&gt;
    &lt;button @click="cambiarColor"&gt;Cambiar Color&lt;/button&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="Estilos #3">
            <h3>Estilos</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    data: {
        color: 'blue',
        styles: {
            'background-color': 'red',
            width: '200px',
            height: '200px'
        }
    },
    methods: {
        cambiarColor() {
            if (this.color == 'blue') {
                this.color = 'yellow';
            } else {
                this.color = 'blue';
            }
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="Estilos #4">
            <h3>Estilos</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;div style="width: 200px; height: 200px;" v-bind:style="{ 'background-color': color}"&gt;&lt;/div&gt;
    &lt;button @click="cambiarColor"&gt;Cambiar Color&lt;/button&gt;
    &lt;div :style="styles"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section>
            <h1>Actividad</h1>
          </section>
        </section>
        <section>
          <section>
            <h1>Componetes</h1><img src="/img/bloque.png" alt="Componentes" height="250" width="250"/>
          </section>
          <section data-menu-title="Introducción #1">
            <h3>Introducción</h3>
            <p>Registrar Componentes Globales</p>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">Vue.component('mi-bloque', {
    data: function () {
        return {
            mensaje: 'Soy un Componente'
        }
    },
    template: '&lt;p&gt;{{ mensaje }}&lt;/p&gt;'
});
var app = new Vue({
    el: '#app',
});</code></pre>
          </section>
          <section data-menu-title="Introducción #2">
            <h3>Introducción</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;mi-bloque&gt;&lt;/mi-bloque&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="Introducción #3">
            <h3>Introducción</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">Vue.component('mi-bloque', {
    data: function () {
        return {
            mensaje: 'Soy un Componente'
        }
    },
    template: '&lt;p&gt;{{ mensaje }} &lt;button @click="alertMensaje"&gt;Ver Alert Mensaje&lt;/button&gt;&lt;/p&gt;',
    methods: {
        alertMensaje: function () {
            alert(this.mensaje);
        }
    }
});
var app = new Vue({
    el: '#app',
});</code></pre>
          </section>
          <section data-menu-title="Introducción #4">
            <h3>Introducción</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">var app = new Vue({
    el: '#app',
    components: {
        appButtonSave: {
            template: '&lt;button @click="save"&gt;Save&lt;/button&gt;',
            methods: {
                save: function () {
                    alert('Saved');
                }
            }
        }
    }
});</code></pre>
          </section>
          <section data-menu-title="Introducción #5">
            <h3>Introducción</h3>
            <p>Componentes Locales</p>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;div id="app"&gt;
    &lt;app-button-save&gt;&lt;/app-button-save&gt;
&lt;/div&gt;</code></pre>
          </section>
          <section data-menu-title="DevTools">
            <h3>Herramienta de Desarrollo</h3>
            <p><a href="https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd?hl=es" target="_blank">Para Chrome</a></p>
            <p><a href="https://addons.mozilla.org/en-US/firefox/addon/vue-js-devtools/" target="_blank">Para Firefox</a></p>
          </section>
          <section>
            <h3>Vue Cli</h3>
            <p><a href="https://www.npmjs.com/package/vue-cli" target="_blank">Instalación</a></p>
            <p>npm install -g vue-cli</p>
            <p>Cli(Interfaz de Línea de Comandos)</p>
          </section>
          <section>
            <h3>Init Template</h3>
            <p>vue init webpack-simple myvue</p>
            <ul>
              <li>cd myvue</li>
              <li>npm install</li>
              <li>run dev</li>
            </ul>
          </section>
          <section>
            <h3>Vue Proyecto</h3><img src="/img/vue-project.png" alt="Vue Project"/>
          </section>
          <section>
            <h3>Vue App</h3><img src="/img/vue-app.png" alt="Vue App" width="320" height="300"/>
          </section>
          <section>
            <h3>Vue Index</h3>
            <pre><code class="html" data-trim="data-trim" data-noescape="data-noescape">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;myvue&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="app"&gt;&lt;/div&gt;
    &lt;script src="/dist/build.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
          </section>
          <section>
            <h3>Vue Main</h3>
            <pre><code class="javascript" data-trim="data-trim" data-noescape="data-noescape">import Vue from 'vue'
import App from './App.vue'
new Vue({
    el: '#app',
    render: h => h(App)
})</code></pre>
          </section>
          <section>Single-File
            <h3>Single-File Components</h3><img src="/img/single-file.png" alt="Single File" width="250" height="300"/>
          </section>
        </section>
      </div>
    </div>
  </body>
  <script src="lib/js/head.min.js"></script>
  <script src="js/reveal.js"></script>
  <script>
    Reveal.initialize({ dependencies: [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/menu/menu.js' }
            ],
        menu: {
            markers: true,
            numbers: true,
            transitions: false,
        }
    
        });
  </script>
</html>