extends layout

block main

    section(data-menu-title="Presentación" data-background-video="video/vuejs-video.mp4" data-background-video-loop="true")
        h1 VueJS
        h3 Framework JS

    section(data-menu-title="Profesor")
        h1 Jonathan Duran
        h3 Desarrollador Full Stack
        p
            i(class="far fa-envelope")  HeadJD@gmail.com
        p
            i(class="fab fa-github")
            a(href="https://github.com/jonathanjd" target="_blank")  JonathanJD

    section
        section
            h1 RoadMap

        section
            h3 Fundamentos
            p Instalación, Plantilla, Directivas, Propiedades Computadas, Métodos, Manejos de Estilos/Clases, Bloque Condicional, Listas, Eventos, Formularios.

        section
            h3 Componentes
            p Introducción, Crear Componentes, Herramienta de Desarrollo de Vue, Componentes para Proyecto, Componente Hijos, Scoped, Pasando Datos entre Componentes, Validar Datos, Eventos, Comunicación mediante el Evento Bus, Pasando Datos entre Eventos, Slots, Componentes Dinámicos, Keeping, Ciclo de Vida.

        section
            h3 Vue Router
            p Instalación, Registrar Rutas, Mostrando Rutas, Rutas Dinámicas, Rutas Anidadas, Rutas Nombradas, Redirecciones y Alias, Pasando Props, Historial HTML5

        section
            h3 Axios
            ul
                li ¿Que és?
                li Instalación
                li Peticiones Ajax

        section
            h3 Mini Proyecto
            p VueCine(Api OMDB)

    section
        h3
            a(href="https://vuejs.org/" target="_blank") ¿Qué es VueJS?
        p Es un framework progresivo de javascript para construir interfaces web interactivas.

    section
        h3 Creador de Vue
        h5 Evan You
        img(src="/img/evan-you.jpg", alt="Evan You", wight="200" height="200")

    section
        h3 Historia
        p Evan You que trabajaba en Google realizando prototipos y en el core del Framework de Meteor, hasta que pensó en otra forma de hacer una opción más fácil que abarcara las necesidades a la hora de hacer prototipos. Así surgió Vue en el 2014, desde entonces ha tenido una gran evolución y sigue creciendo en su versión 2.

    section
        h3 Características
        ul
            li Fácil de Aprender
            li Sistema de Data Binding
            li Sistema de Componentes
            li Reactivo
            li Optimizado: su core ocupa 74KB(Bastante Liviano)
            li Excelente Librería para hacer peticiones http, validación de formulario, etc.
            li Escalable
            li Licencia MIT
