extends layout

block main

    section(data-menu-title="Presentación" data-background-video="video/vuejs-video.mp4" data-background-video-loop="true")
        h1 VueJS
        h3 Framework JS

    section(data-menu-title="Profesor")
        h1 Jonathan Duran
        h3 Desarrollador Full Stack
        p
            i(class="far fa-envelope")  HeadJD@gmail.com
        p
            i(class="fab fa-github")
            a(href="https://github.com/jonathanjd" target="_blank")  JonathanJD

    section
        section
            h1 RoadMap

        section
            h3 Fundamentos
            p Instalación, Plantilla, Directivas, Propiedades Computadas, Métodos, Manejos de Estilos/Clases, Bloque Condicional, Listas, Eventos, Formularios.

        section
            h3 Componentes
            p Introducción, Crear Componentes, Herramienta de Desarrollo de Vue, Componentes para Proyecto, Componente Hijos, Scoped, Pasando Datos entre Componentes, Validar Datos, Eventos, Comunicación mediante el Evento Bus, Pasando Datos entre Eventos, Slots, Componentes Dinámicos, Keeping, Ciclo de Vida.

        section
            h3 Vue Router
            p Instalación, Registrar Rutas, Mostrando Rutas, Rutas Dinámicas, Rutas Anidadas, Rutas Nombradas, Redirecciones y Alias, Pasando Props, Historial HTML5

        section
            h3 Axios
            ul
                li ¿Que és?
                li Instalación
                li Peticiones Ajax

        section
            h3 Mini Proyecto
            p VueCine(Api OMDB)


