extends layout

block main

    section(data-menu-title="Presentación" data-background-video="video/vuejs-video.mp4" data-background-video-loop="true")
        h1 VueJS
        h3 Framework JS

    section(data-menu-title="Profesor")
        h1 Jonathan Duran
        h3 Desarrollador Full Stack
        p
            i(class="far fa-envelope")  HeadJD@gmail.com
        p
            i(class="fab fa-github")
            a(href="https://github.com/jonathanjd" target="_blank")  JonathanJD

    section
        section
            h1 RoadMap

        section
            h3 Fundamentos
            ul
                li Instalación
                li Plantilla
                li Directivas
                li Propiedades Computadas Y Observadores
                li Manejos de Estilos y Clases
                li Bloque Condicional
                li Listas
                li Eventos
                li Formularios

        section
            h3 Componentes

        section
            h3 Vue Router

        section
            h3 Axios

        section
            h3 Mini Proyecto


